# Building-related files
**/build
**/output/*
!**/output/.gitkeep
**/opencv

# IDE-related files
**/.vscode
**/.vs
**/.idea
**/.DS_Store
**/.cache
**/compile_commands.json

# Materials are defined in textures only, no mtl files required.
*.mtl

# Report building files
**/report/*
!**/report/*.tex
!**/report/*.sty
!**/report/*.bak
!**/report/*.py
!**/report/*.pptx
!**/report/images/